#bodyContainer{
    max-width: 1366px;
    display: flex;
    position: relative;
    direction: rtl;
    margin: auto;
    font-family: "Byekan";
    font-size: 12px;
    background-color: #EBEDF3;

}
.bg_header{
    height: 60px;
    background-color: #888787;
    box-shadow: 0 2px 5px rgba(76,77,95,0.69);
    position: absolute;
    z-index: 1;
  }
.sideBar{
  width: 20%;
}
.wrapper{
    margin-top: 60px;
    padding: 0;
    width: 80%;
    background-color: #EBEDF3;
}

@font-face {
  font-family: "Lalezar";
  src: url('../../fonts/Lalezar.eot?#') format("eot"), url('../../fonts/Lalezar.woff') format("woff"), url('../../fonts/Lalezar.ttf') format("truetype");
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: "IRANSansWeb";
  src: url('../../fonts/IRANSansWeb.eot?#') format("eot"), url('../../fonts/IRANSansWeb.woff') format("woff"), url('../../fonts/IRANSansWeb.ttf') format("truetype");
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: "IransansBold";
  src: url('../../fonts/IRANSansWeb_Bold.eot?#') format("eot"), url('../../fonts/IRANSansWeb_Bold.woff') format("woff"), url('../../fonts/IRANSansWeb_Bold.ttf') format("truetype");
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: "IranNastaliq";
  src: url('../../fonts/IranNastaliq.eot'), url('../../fonts/IranNastaliq.svg') format("svg"), url('../../fonts/IranNastaliq.woff') format("woff"), url('../../fonts/IranNastaliq.ttf') format("truetype");
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: "Byekan";
  src: url('../../fonts/BYekan.eot') format("eot"), url('../../fonts/BYekan.woff') format("woff"), url('../../fonts/BYekan.ttf') format("truetype");
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}




// @mixin font-face( $font-name, $font-path, // path + file name. Ex : path/to/font/filename
// $font-weight: 400, $font-style: normal, $support-required: 'modern') {
//   @font-face {
//     font-family: $font-name;
//     font-style : $font-style;
//     font-weight: $font-weight;
//     @if $support-required=='oldie' {
//       src: url('#{$font-path}.eot');
//       src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
//       url('#{$font-path}.woff2') format('woff2'),
//       url('#{$font-path}.woff') format('woff'),
//       url('#{$font-path}.ttf') format('truetype');
//     }
//     @if $support-required=='recent' {
//       src: url('#{$font-path}.woff2') format('woff2'),
//       url('#{$font-path}.woff') format('woff'),
//       url('#{$font-path}.ttf') format('truetype');
//     }
//     @if $support-required=='modern' {
//       src: url('#{$font-path}.woff2') format('woff2'),
//       url('#{$font-path}.woff') format('woff');
//     }
//   }
//   @if $support-required !='oldie' and $support-required !='recent' and $support-required !='modern' {
//     @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
//   }
// }


